body{
    font-family: 'Playfair Display', 'Arial', serif;
    color: #626262;
    font-size: 14px;
    line-height: 24px;
}
.menu {  
    width: 480px;
    margin:auto;
    list-style: none;
    padding-top: 30px;
    padding-bottom: 30px;
}
.menu-item{
    display: inline-block;
    margin-right: 10px;
}
.menu a:hover{
    color:#0bbeef;
}
.menu a {
text-transform: uppercase;
text-decoration: none;
display: block;
width: 100px;
text-align: center;
}

.ubuntu{
    color:#b4ad9e;
    font-family: 'Ubuntu', sans-serif;
    line-height: 17px;
    text-transform: uppercase;
}
.headline{
    font-size: 30px;
    line-height: 36px;
    font-family: 'Playfair Display', serif;
}
section{
    display: inline-block;
    width: auto;
    margin-left: 200px;
    
}
article {
    display: inline-block;
    width: 49%;
    margin: auto;
}

p{
    width: 420px;
}
button{
    text-transform: uppercase;
    margin-left: 40%;
    margin-top: 30px;
}