::after {
	content: "";
	display: table;
	clear:   both;
}

.wrapper {
	width: 1110px;
	margin: 0 auto;
	padding-top: 0;
	box-sizing: border-box;
  }
  
  .header {
	padding-top: 37px;
	padding-bottom: 50px;
  }
  
  .logo {
	display: block;
	text-transform: uppercase;
	font-family: "Roboto", sans-serif;
	font-size: 30px;
	text-decoration: none;
	display: block;
	float: left;
    color: #555252;
    font-weight: 300;
  
  }
  
  .logo::first-letter {
	font-family: "Roboto", sans-serif;
    color: #1abc9c;
    font-weight: 900;
  }
  
  .ul_header {
	margin: 0;
	padding: 0;
	width: 500px;
	float: right;
  }
  
  .li_header {
	display: block;
	height: 30px;
	float: left;
	line-height: 30px;
  }
  
  .a_header {
	line-height: 30px;
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	padding: 0 15px;
	text-decoration: none;
	color: #0f0101;
	display: block;
	font-weight: bold;
  }
  
  .a_header:hover {
	  color: #1abc9c;
	}
  
/*image*/

.wrapper_img
img{
	width: 100%;
	height: 600px;
	background-size: cover;
	position: absolute;
	object-fit: cover;
	background-repeat: no-repeat;
	background-position: center;
	filter: brightness(70%);
}
.wrapper_img{
	position: relative;
	height: 600px;
}
.section_relative{
	position: absolute;
	width: 75%;
	height: 120px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

}

.container{
	position: absolute;
}

.left{
	width: 100px;
	height: 100px;
	background-color: #1abc9c;
	opacity: 0.8;
	left: 0;
	position: absolute;
	padding: 0;
	border: 0;
	bottom:0;
	font-size: 90px;
	color: #ffffff;
	
}
.right{
	width: 100px;
	height: 100px;
	background-color: #1abc9c;
	opacity: 0.8;
	right: 0;
	position: absolute;
	padding: 0;
	border: 0;
	font-size: 90px;
	color: #ffffff;
	bottom: 0;
	line-height: 100px;


}
.h1_text{
font-size: 60px;
color: #ffffff;
font-family: "Roboto";
font-weight: 900;
margin:0 ;
padding-bottom: 20px;
}
.p_text{
	font-size: 18px;
	color: #ffffff;
	font-family: "Roboto";
	font-weight: 300;
	margin: 0;
}
.div_absolute{
	position: absolute;
	z-index: 2;
	left: 50%;
	transform: translate(-50%);
	width: 78%;
}

span{position: absolute;
    left: 36px;
		top: -9px;}

.wrapper_main{
	padding-bottom: 50px;
  margin: 0 auto;
  max-width: 100%;
}
		

/*product*/

		.product {
			margin:0 auto;
			width:  1110px;
			padding-bottom: 50px;
		}
		
		
		h2 {
			margin:         0;
			letter-spacing: -1px;
			font-size:      48px;
			line-height:    48px;
			text-align:     center;
			text-transform: uppercase;
			font-family: "Roboto";
			margin-bottom: 50px;
			color: #515151;
		}
		
		h2::after {
			margin:  auto;
			margin-top: 30px;
			display:          block;
			content:          '';
			width:            164px;
			height:           7px;
			background-color: #19bb9b;
		}
		.ul_product{
			padding: 0;
			margin: 0;
		}
		.ul_product li {
			position:         relative;
			float:            left;
			list-style:       none;
			width:            255px;
			height:           322px;
			background-color: #e9effd;
		}
		
		.ul_product li:not(:nth-child(4n)) {
			margin-right: 30px;
		}
		
		.ul_product a {
			text-decoration: none;
		}
		
		.ul_product li:nth-child(-n + 4) {
			margin-bottom: 30px;
		}
		
		
		.div_product{
			margin:           0;
			position:         absolute;
			bottom:           0;
			width:            255px;
			height:           40px;
			background-color: #323232;
			font-size:        18px;
			line-height:      40px;
			color:            rgb(255, 255, 255);
			text-transform:   uppercase;
		}
		
		
		.ul_product div:hover p {
			background-color: #1abc9c;
		}
		p {
			margin: 0;
		}
		.name{
			width: 200px;
			float: left;
			text-align: center;
			font-family: "Roboto";
		}
		.price{
			width: 55px;
			float: right;
			background-color: rgb(81, 81, 81);
			text-align: center;
			font-family: "Roboto";
		}
		.price:before {
			content: "\FF04";
			}
			